* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NanumSquareNeo-Variable";
  background-color: rgb(47, 179, 244);
  /* background-image: url(/img/background.jpg); */
  user-select: none;
}
video {
  z-index: -1;
  position: fixed;
  filter: blur(10px);
  width: 100%;
}
#main {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  padding: 80px 0;
  text-align: center;
  font-size: 50px;
}
/* 숫자버튼 */
#keypad {
  height: 100%;
}
#random {
  width: 100%;
  /* height: */
}
.buttons {
  font-family: "NanumSquareNeo-Variable";
  width: 90px;
  height: 90px;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  font-size: 25px;
  background-color: rgb(43, 157, 215);
  cursor: pointer;
}

.buttons:active {
  background-color: rgb(15, 121, 174);
  box-shadow: none;
}

.answer-box {
  padding: 25px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-left: 30px;
  text-align: center;
}
#answer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 숫자 출력 칸*/
.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 5px;
  width: 100px;
  height: 100px;
  font-size: 50px;
  color: rgb(70, 68, 68);
  background-color: white;
}

.rule {
  font-size: 20px;
  padding: 10px;
  margin: 0 20px;
  color: rgb(70, 68, 68);
  /* text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; */
}
#game-result {
  margin: 10px;
  color: rgb(255, 242, 0);
  /* text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; */
}
#record-box {
  height: 100%;
  width: 250px;
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: clip;
}

#record-box p {
  padding-top: 15px;
  text-align: center;
  /* text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; */
}

#record {
  display: block;
}
#delete {
  /* position: absolute; */
  bottom: 0;
}
